.book-info {
    margin: 10px 100px;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/86/51/5b/86515b0f58b74d1586780ee65e261f02.jpg);
}
h1 {
    color: blue;
}
body {
    background-color: #bbccdd;
}
.review-card {
    display: block;
    margin: 20px auto;
    text-align: center;
}
.review-card li {
    background-color: palegoldenrod;
}
.container-fluid {
    background-color: palegoldenrod;
}
.review-form {
    margin-left: 40%;
}
.review-form input {
    display: block;
    margin-bottom: 20px;
}
.shop-info {
    text-align: center;
    border: 5px solid rebeccapurple;
    background-color: #aaaaaa;
}
.cat-img {
    width: 450px;
}
.cat-img-container {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}
