.book-info {
    margin: 10px 100px;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/86/51/5b/86515b0f58b74d1586780ee65e261f02.jpg);
}
h1 {
    color: blue;
}
body {
    background-color: pink;
}
p {
    border: 3px dashed crimson;
    text-align: center;
    margin: 20px 100px;
}